/node_modules
/public_html/hot
/public_html/storage
/public_html/css
/public_html/js
/storage/*.key
/vendor
.env
settings.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vscode
.DS_STORE