version: '3.7'
services:
  app:
    build:
      context: ./docker
      dockerfile: Dockerfile-dev
    restart: unless-stopped
    volumes:
    - vendor-volume:/usr/src/app/vendor
    - .:/usr/src/app
    command:
    - bash
    - -c
    - |
      if [ ! -f "/usr/src/init" ]; then
        composer install
        php artisan key:generate
        sleep 15
        php artisan migrate --seed
        php artisan passport:install
        touch /usr/src/init
      fi
      exec apache2-foreground
  mysql_service:
    image: mariadb:10.5
    restart: unless-stopped
    environment:
      MYSQL_RANDOM_ROOT_PASSWORD: 'yes'
      MYSQL_USER: ${DB_USERNAME}
      MYSQL_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_DATABASE}
  adminer:
    image: adminer
    restart: unless-stopped
    environment:
      - ADMINER_DEFAULT_SERVER=mysql_service
  nginx:
    image: nginx
    restart: unless-stopped
    volumes:
      - ./docker/nginx:/etc/nginx/templates
    ports:
      - ${DOCKER_PORT}:80
    environment:
      - ADMINER_PREFIX=${DOCKER_ADMINER_PREFIX}

volumes:
  vendor-volume:
