includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    paths:
        - src

    # The level 9 is the highest level
    level: 8

    ignoreErrors:
      - '#PHPDoc tag @mixin contains unknown class .*IdeHelper.*#'

    excludePaths:
      - ./src/Support/LaravelData/*

      # temp
      - ./src/Domain/ProductSet/ProductSet.php
      - ./src/Domain/ProductSet/ProductSetService.php
