/*! CSS by Jedrzej Bulinski */
/*! jedrzej@heseya.com */

// Libs
@import 'normalize';
textarea, input, button {
  outline: none;
  -webkit-appearance: none;
}

// Fonts
@font-face{
  font-family:'Tw Cen MT';
  font-style:normal;
  font-weight:400;
  src: local('Tw Cen MT'), url(/fonts/TwCenMT.woff) format('woff')
}

// Variables
@import 'admin/variables';

// Modules
@import 'admin/base';
@import 'admin/nav';
@import 'admin/list';
@import 'admin/imputs';
@import 'admin/login';
@import 'admin/chat';
@import 'admin/products';

// Dark mode
@import 'admin/dark';