@charset "UTF-8";

/* CSS by Jędrzej Buliński */

/* jedrzej@heseya.com */

@font-face {
  font-family: "Tw Cen MT";
  font-style: normal;
  font-weight: 400;
  src: local("Tw Cen MT"), url(/fonts/TwCenMT.woff) format("woff");
}

body {
  font-family: "Tw Cen MT";
  background: #fff;
  margin: 0;
  padding: 0;
}

.one-line {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

main {
  margin-bottom: 100px;
}

.loader--warper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 9px;
  height: 9px;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}

.loader {
  color: #aaa;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
          animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}

.loader:before {
  left: -18px;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 18px;
}

@-webkit-keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@keyframes load7 {
  0%, 80%, 100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }

  40% {
    box-shadow: 0 2.5em 0 0;
  }
}

@media (min-width: 700px) {
  main {
    margin: 0 0 0 70px;
  }
}

.nav {
  z-index: 10;
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: calc(100% - 30px);
  padding: 0 15px;
  background: rgba(255, 255, 255, 0.91);
  box-shadow: 0px 0px 12px 0px rgba(64, 64, 64, 0.3);
  border-top-left-radius: 26px;
  border-top-right-radius: 26px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.nav--products {
  background-image: url(/img/nav/products.svg);
}

.nav--products__selected {
  background-image: url(/img/nav/products1.svg);
}

.nav--orders {
  background-image: url(/img/nav/orders.svg);
}

.nav--orders__selected {
  background-image: url(/img/nav/orders1.svg);
}

.nav--chat {
  background-image: url(/img/nav/chat.svg);
}

.nav--chat__selected {
  background-image: url(/img/nav/chat1.svg);
}

.nav a {
  display: block;
  height: 60px;
  width: 60px;
  border-radius: 12px;
  background-size: 46%;
  background-repeat: no-repeat;
  background-position: center;
}

.nav a:hover {
  background-color: rgba(221, 221, 221, 0.5);
}

.nav .logo {
  display: none;
}

.top-nav {
  margin: 30px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-nav h1 {
  font-weight: normal;
}

.top-nav .avatar {
  height: 26px;
  width: 26px;
}

.top-nav .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
}

@media (min-width: 700px) {
  .nav {
    z-index: 10;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 60px;
    padding: 0 3px;
    border-radius: 0;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .nav .logo {
    display: block;
    width: 100%;
    margin: 50px 0;
  }

  .nav .logo img {
    margin-left: 7%;
    width: 86%;
  }
}

.list {
  font-size: 17px;
  padding: 0;
}

.list a {
  color: #000;
  text-decoration: none;
}

.list li {
  list-style: none;
  margin: 0 30px;
  padding: 15px 0;
}

.list .separator {
  position: -webkit-sticky;
  position: sticky;
  margin-top: 25px;
  top: 0;
  background-color: #fff;
  border: none;
  z-index: 2;
}

.list small {
  color: #aaa;
  font-size: 13px;
}

.list--orders li {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: 1px solid rgba(221, 221, 221, 0.5);
  position: relative;
}

.list--orders a {
  height: 100%;
}

.list--orders .sum {
  font-size: 20px;
  text-align: right;
}

.list--orders .status {
  position: absolute;
  display: flex;
  bottom: 15px;
  right: 0;
}

.list--orders .status .status-circle {
  display: block;
  border-radius: 50%;
  height: 6px;
  width: 6px;
  margin-right: 4px;
  background: rgba(187, 208, 211, 0.5);
}

.list--orders .status .status-circle__red {
  background: #e3342f;
}

.list--orders .status .status-circle__orange {
  background: #f6993f;
}

.list--orders .status .status-circle__green {
  background: #38c172;
}

.list--chat li {
  display: grid;
  grid-template-columns: 70px 1fr;
  align-items: center;
}

.list--chat .avatar {
  height: 52px;
  width: 52px;
}

.list--chat .avatar img {
  width: 100%;
  height: 100%;
  border-radius: 12px;
}

.input {
  max-width: 320px;
  margin: 20px 0;
}

.input input {
  width: calc(100% - 42px);
  font-size: 15px;
  padding: 10px 21px;
  border-radius: 21px;
  border: 0;
  background: rgba(187, 208, 211, 0.5);
}

.login {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login .buttons a {
  color: #4AB0FE;
  font-size: 18px;
  text-decoration: none;
}

.login .buttons button {
  height: 38px;
  width: 38px;
  border: 0;
  border-radius: 50%;
  background: linear-gradient(to right, #03EFFE, #24D2FE, #3CBDFE, #4AB0FE, #4FACFE);
  cursor: pointer;
  transition: 0.1s;
}

.login .buttons button img {
  width: 100%;
  height: 100%;
}

.chat-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 40px);
  padding: 15px;
  background: rgba(255, 255, 255, 0.91);
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.chat-nav .avatar {
  height: 36px;
  border-radius: 6px;
}

.chat-nav small {
  color: #aaa;
}

.chat-nav a {
  height: 36px;
  width: 36px;
}

.chat-nav a img {
  margin: 7px;
  height: 22px;
  width: 22px;
}

.chat {
  font-size: 15px;
  margin: 0;
  padding: 70px 20px 0 20px;
}

.chat li {
  display: inline-block;
  list-style: none;
  width: auto;
  max-width: 74%;
  border-radius: 18px;
  padding: 10px 16px;
  background: rgba(187, 208, 211, 0.5);
  margin-bottom: 11px;
}

.chat .from {
  background: linear-gradient(to right, #03EFFE, #24D2FE, #3CBDFE, #4AB0FE, #4FACFE);
  margin-left: calc(26% - 20px);
}

.response {
  position: fixed;
  bottom: 0;
  left: 0;
  width: calc(100% - 40px);
  margin: 20px;
  background: rgba(255, 255, 255, 0.91);
  border: 1px solid #aaa;
  border-radius: 24px;
}

.response textarea {
  font-family: "Tw Cen MT";
  font-size: 15px;
  width: calc(100% - 70px);
  height: 32px;
  margin: 0;
  padding-top: 17px;
  margin: 0 24px;
  border: 0;
  resize: none;
}

.response button {
  position: absolute;
  top: 5px;
  right: 6px;
  height: 38px;
  width: 38px;
  border: 0;
  border-radius: 50%;
  background: none;
  cursor: pointer;
  transition: 0.1s;
}

.response button:hover {
  background: rgba(187, 208, 211, 0.5);
}

.response button img {
  width: 100%;
  height: 100%;
}

.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  margin: 40px 20px;
  text-align: center;
}

.products-list a {
  text-decoration: none;
  color: #000;
}

.products-list .product {
  background: rgba(187, 208, 211, 0.5);
  border-radius: 12px;
  padding: 20px;
  padding-bottom: 20px;
}

.products-list .product img {
  width: 100%;
  border-radius: 7px;
}

.products-list .product div {
  margin-top: 15px;
}

@media (min-width: 1000px) {
  .products-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: 700px) {
  .products-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

