.chat {
  font-size: 15px;
  margin-bottom: 80px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: column-reverse;

  .message {
    flex-direction: row-reverse;
    width: auto;
    max-width: 74%;

    .bubble {
      isolation: isolate;
      border-radius: 18px;
      padding: 10px 16px;
      background: $grey-light;
      margin-bottom: 3px;
    }

    .info {
      color: $grey;
      font-size: 12px;
      margin: 0 14px 5px 0;
    }

    &--from {
      align-self: flex-end;

      .info {
        text-align: right;
      }
    }
  }

  .message--to + .message--from, .message--from + .message--to {
    margin-bottom: 11px;
  }

  .response {
    position: fixed;
    bottom: 20px;
    width: 840px;
  }

  .unread {
    color: #222;
    position: relative;
    margin-left: 13px;

    &::before {
      content: ' ';
      position: absolute;
      display: inline-block;
      height: 7px;
      width: 7px;
      bottom: 5px;
      left: -13px;
      border-radius: 50%;
      background: $blue;
    }
  }
}
