.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;

    &__img {
        position: relative;
        width: 100%;
        padding-top: 100%;
        border-radius: 6px;
        background-color: $grey-light;
        overflow: hidden;
        margin-bottom: 4px;
        text-align:center;

        &:first-child {
                grid-column: 1/3;
                grid-row: 1/3;
        }

        img {
            position: absolute;
            top: 0; left: 0;
            height: 100%;
        }

        .remove {
            cursor: pointer;
            position: absolute;
            top: 0;
            right: 0;
            width: 12px;
            height: 12px;
            padding: 4px;
            border-bottom-left-radius: 6px;
            background: url(/img/icons/cancel.svg) no-repeat scroll right center #000;
            background-origin: content-box;
        }
    }

    .add {
        img {
            top: 40%; left: 40%;
            height: 20%;
        }
    }
  }
