.products-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 22px;
  margin: 40px 30px;

  a {
    text-decoration: none;
    color: $black;
  }

  .product {

    &__img {
      position: relative;
      width: 100%;
      padding-top: 100%;
      border-radius: 7px;
      background-color: $grey-light;
      overflow: hidden;
      margin-bottom: 4px;

      img {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
        border-radius: 7px;
      }
    }

    .name {
      padding: 5px;
      padding-bottom: 2px;
    }

    small {
      color: #777;
    }

    .price {
      padding: 5px 5px 0 0;
    }
  }
}

.product-add, .product-photos {
  margin: 0 30px;
}

.product-nav {
  position: fixed;
  top: 0; left: 0;
  width: 100%;
  overflow: hidden;

  a {
    position: absolute;
    z-index: 100;
    height: 46px;
    width: 46px;

    img {
      margin: 12px;
      height: 22px;
      width: 22px;
    }
  }

  &__photos {
    position: relative;
    width: 100%;
    height: 50vh;
    overflow: hidden;
    background-color: $grey-light;

    img {
      z-index: 1;
      position: absolute;
      top: 0; left: 0;
      height: 100%;
      width: 100%;
    }
  }
}

.product {
  width: 100%;

  .details {
    z-index: 10;
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    margin-top: 40vh;
    background: white;
    border-top-left-radius: 26px;
    border-top-right-radius: 26px;

    .content {
      padding: 0 30px;
      padding-top: 30px;
    }

    h1 {
      margin: 0;
    }
  }
}

@media (min-width: $break-max) {
  .products-list {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

@media (min-width: $break) {
  .products-list {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .product-nav {
    position: static;
    top: 10px;
    max-width: $break;
    overflow: hidden;
    margin: auto;
    border-radius: 24px;
    margin-bottom: 0;
    margin-top: 15px;

    a {
      display: none;
    }

    &__photos {
      position: relative;
      width: 100%;
      height: 50vh;
      overflow: hidden;
      background-color: $grey-light;

      img {
        position: absolute;
        top: 0; left: 0;
        height: 100%;
        width: 100%;
      }
    }
  }

  .product {
    max-width: $break;
    padding: 0;

    .details {
      position: static;
      margin: 0;
    }
  }

}
