.one-line {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
}

.round {
  border-radius: 8px;
}

.margin {
  &__left {
    margin-left: 12px;
  }
}

.grid {
  display: grid;
  column-gap: 30px;
  margin: 0 30px;
  padding: 0;
  grid-template-columns: 1fr;
}

.sto {
  width: 100%;
  max-width: 100%;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

@media (min-width: $break) {
  .grid {
    &--2 {
      grid-template-columns: 1fr 1fr;
    }
  }

  .sto-mobile {
    width: auto;
  }
}