// Typography
$font: 'Tw Cen MT';
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// RWD
$break: 700px;
$break-max: 1000px;

// Colors
$white: rgba(255, 255, 255, 0.91);
$black: #000;
$grey: #aaa;
$grey-light: rgba(187, 208, 211, 0.4);

$blue: #4AB0FE;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;
